* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 70%;
    line-height: 2;
}

.nav {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    border: 1px solid whitesmoke;
}

.navs {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 1px;
}

.avatar {
    border: solid white 3px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}
body {
    background-color: whitesmoke;
}
.images {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 3%;
}
.devops {
    display: inline-block;
}
.miniui {
    background-color: white ;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    padding-left: 250px;
}
.starter {
    background-color: white;
    border: white solid 3px;
    width: 300px;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 25px;
    border-radius: 10px;
}
.pro {
    background-color: white;
    border: black 3px solid;
    width: 300px;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 25px;
    border-radius: 10px;
}
.choose-starter {
    border: black solid 3px;
    text-align: center;
    border-radius: 7px;
}
.choose-pro {
    border: black solid 3px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 7px;
}
.team {
    border: white solid 3px;
    background-color: white;
    width: 300px;
    display: inline-block;
    padding: 10px 20px ;
    border-radius: 10px;
}
.footer {
    background-color: white;
    border: 3px solid white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 7px;
    width: 50%;
    
}
.english {
    border: solid 1px black;
    border-radius: 3px;
    margin-right: 10px;
}
.epam {
         border: solid 1px whitesmoke;
    border-radius: 3px;
    margin-right: 10px;
}
.view-plans {
    background-color: black;
    border: black solid 2px;
    color: white;
    border-radius: 7px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.contact {
    border: black solid 2px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.section {
    margin: 0 auto;
}
.main {
    margin: 0 auto;
    padding: 0 300px;
}
.css {
    padding-left: 620px;
}
